_site
scripts/files/docker-compose/.env

# Ignore everything in the docker-compose directory except the docker-compose file
scripts/files/docker-compose/*
!scripts/files/docker-compose/docker-compose.yml
