.highlighter-rouge pre {
    display: inline-block !important;
    max-width: max-content !important;
    overflow-x: auto !important;
    white-space: pre !important;
}

.highlighter-rouge pre code {
    white-space: pre !important;
    display: inline-block;
}
